.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  height: 39px;
  width: 105px;
  position: relative;
  top: 30px;
  left: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none; 
  margin: 30px 80px 0 0;
}

.nav__link {
  font-family: "Inter", Arial, Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
